:root {
  /* Base / Light Theme */
  --background: #f3f3f3;
  --background-contrast: #2f4858;  

  --primary: #00566a;
  --primary-dark: #01242c;
  --secondary: #f69334;
  --secondary-dark: #7a3c02;

  --text-color:#181c1f;

  --white: #fff; 
  --black: #000;  
  --grey: #cfcfcf; 
  --border: 0, 0, 0;  
}

.dark {
  /* Base / Dark Theme */
  --background: #1a1a1c; 
  --background-contrast: #263845; 
  
  --primary: #1CD979;
  --primary-dark: #3b4a3f;
  --secondary: #00ccff;
  --secondary-dark: #0095ed;

  --text-color:#dbdada;
  
  --white: #fff; 
  --black: #000;  
  --grey: #686868;
  --border: 255, 255, 255;
}

/* Inter Font */
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/InterVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/InterVariable-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
