:root {
  /* Base / Light Theme */
  --background: #f3f3f3;
  --background-contrast: #dddddd;  

  --primary: #0CCE6B;
  --primary-dark: #04522a;
  --text-color:#383838;

  --white: #fff; 
  --black: #000;  
  --grey: #cfcfcf; 
  --border: 0, 0, 0;  
}

.dark {
  /* Base / Dark Theme */
  --background: #1a1a1c; 
  --background-contrast: #333335; 
  
  --primary: #0CCE6B;
  --primary-dark: #04522a;
  --text-color:#dbdada;
  
  --white: #fff; 
  --black: #000;  
  --grey: #686868;
  --border: 255, 255, 255;
}

/* Inter Font */
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/InterVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/InterVariable-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
