.split-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.left-panel {
  padding: 1.3rem;
  height: 100vh;
  position: sticky;
  top: 0;
}

.proj-det-heading{
  color: var(--secondary);
}

.right-panel {
  min-height: 100vh;
}

.right-panel img {
  width: 100%;
  object-fit: cover;
  display: block;
  border: 1px solid black;
}

@media (max-width: 768px) {
  .split-container {
    display: block;
  }
  .left-panel {
    position: relative;
    height: auto;
  }
}
