.project-section{
  color: var(--text-color);
  padding: 3% 0;
}
.project-heading{
  text-align: center;
  margin-bottom: 5%;
  font-size: calc(24px + (50 - 24) * ((100vw - 320px) / (1920 - 320)));
  color: var(--text-color);    
}
.projects-outer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.projectCard-inner-section{
    border: 1px solid rgba(var(--border),0.2);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.projectCard-all-content{
    display: flex;
    flex-direction: column;
}
.prod-img{
    border-radius: 10px 10px 0px 0px;
    opacity: 0.9;
}
.code-block {
  background-color: #1e1e1e; /* VS Code dark background */
  padding: 14px;
  border-radius: 0px 0px 10px 10px;
  font-family: "Fira Code", "Courier New", monospace;
  white-space: pre;
  color: #d4d4d4;
  font-size: 15px;
}

/* Syntax colors */
.keyword { color: #569cd6; }      /* const, let, var */
.variable { color: #9cdcfe; }     /* variable names */
.operator { color: #d4d4d4; }     /* =, : */
.bracket { color: #d4d4d4; }      /* {, } */
.property { color: #9cdcfe; }     /* object keys */
.string { color: #ce9178; }       /* strings */
.number { color: #b5cea8; }       /* numbers */

.projectCard-hover-content{
    position: absolute;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.1); /* semi-transparent */
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease-in-out;
    opacity: 0;    
}

.projectCard-inner-section:hover .projectCard-hover-content {
    opacity: 1;
}


