.hero-outer-container{
    
}
.inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-inner-container{
    padding: 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hero-left-section{
    width: 60%;
}
.line-container{
    width: 40%;
}
.hero-heading{
    color: var(--text-color);
    font-size: calc(24px + (60 - 24) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 3%;
    color: transparent;
    -webkit-text-stroke: 2px var(--text-color); /* outline using theme color */
    position: relative;
    display: inline-block;
    background: linear-gradient(var(--primary-dark), var(--primary));
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 0% 100%;
    animation: fillText 5s ease-in-out forwards;   
}
@keyframes fillText {
  0% {
    background-size: 0% 100%;
  }
  50% {
    background-size: 50% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.hero-content{
    color: var(--text-color);
    font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 5%;
    font-weight: 500;   
}

.social-links-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}
.social-links{
    color: var(--text-color);
    display: flex;
    border-bottom: 0.1px solid transparent;
    text-decoration: none;
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
    gap: 3px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}
.social-icons{
    opacity: 0.5;
    transition: opacity border-bottom 0.2s;
}
.social-links:hover{
    border-bottom: 0.1px solid rgba(var(--border), 0.5);
}
.social-links:hover .social-icons{
    opacity: 1;
}

@media (max-width:768px) {
    .hero-inner-container{
        flex-direction: column;
        padding: 30px 0;
        gap: 30px;
    }
    .hero-left-section, .line-container{
        width: 100%;
    }
}