.skills-section-outer-container {
  border: 1px solid rgba(var(--border), 0.2);
  padding: 5% 0px;
}
.skills-heading {
  text-align: center;
  color: var(--text-color);
  font-size: calc(24px + (50 - 24) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: 5%;
}
.skill-item-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
}
.skill-item {
  display: flex;
  gap: 10px;
  height: 100%;
  min-height: 170px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-contrast);
  border-radius: 10px;
  padding: 15px 10px;
  transition: all 0.4s ease;
}
.skill-icon {
  max-width: 80px;
  width: 100%;
  transition: transform 0.4s ease;
}
.skill-name {
  text-align: center;
  color: var(--text-color);
  font-weight: 700;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease, height 0.4s ease;
}

.skill-item:hover .skill-icon {
  transform: translateY(-10px);
}

.skill-item:hover .skill-name {
  opacity: 1;
  visibility: visible;
  height: auto;
  transform: translateY(0);
}
