.authBg{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.authInnerContainer{
    width: 100%;
    max-width: 1150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: var(--shadow-md);
    border-radius: var(--radius-md);
    min-height: 700px;
}
.authLeftImageContainer{
    background: url('../../assets/login-signup-bg.jpg');
    padding: 7%;
    border-top-left-radius: var(--radius-md);
    border-bottom-left-radius: var(--radius-md);
}
.logoContainer{ 
    margin-bottom: 20px;
}
.heading{
    color: var(--text-white);
    font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(25px + (45 - 25) * ((100vw - 320px) / (1920 - 320)));
}
.para{
    color: var(--text-white);
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(20px + (28 - 20) * ((100vw - 320px) / (1920 - 320)));  
    margin-top: 5%;  
}
.authRightFormContainer{
    background-color: var(--surface);
    padding: 15% 7%;
    border-top-right-radius: var(--radius-md);
    border-bottom-right-radius: var(--radius-md);    
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.modeButtonContainer{
    position: absolute;
    top: 4%;
    right: 4%;
}
.formTabOuterContainer{
    width: 100%;
    max-width: 500px;
}
.buttonContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    padding: 4px;
    background-color: var(--surface-low);
    border-radius: var(--radius-md);
    border: 1px solid var(--surface-variant);
}
.authButtons{
    background-color: transparent;
    border: transparent;
    padding: 8px 15px;
    border-radius: var(--radius-sm);
    cursor: pointer;
    color: var(--text);
    font-size: 14px;
    line-height: 20px;      
    transition: background-color 0.3s ease 0.1s, color 0.3s ease 0.1s;
}
.authButtons.active{
    background-color: var(--primary);
    color: var(--text-white);
}

@media (max-width: 768px) {
    .heading, .para{
        display: none;
    }
    .authInnerContainer{
        min-height: auto;
        grid-template-columns: auto;
        padding: 15px;
    }
    .authLeftImageContainer{
        border-radius: 0;
        border-top-left-radius: var(--radius-md);
        border-top-right-radius: var(--radius-md);
        padding: 30px;
    }
    .logoContainer{
        margin: 0;
    }
    .logoContainer img{
        display: block;
        margin: auto;
    }
    .authRightFormContainer{
        padding: 15% 15px;
    }
}

@media (max-width: 480px) {
    .modeButtonContainer{
        top: 15px;
        right: 15px;
    }
    .authRightFormContainer{
        padding: 70px 15px 40px;
    }
}