@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
body{font-family: "Funnel Display", serif;scroll-behavior: smooth;padding: 0;margin: 0;height: 100%;}