.form-container{
  max-width: 300px;
  margin: auto;
  text-align: center;
}
.form-container form{
  display: flex;
  flex-direction: column;
}
.form-container form input{
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
}
.form-container .error-text{
  color: red;
  text-align: left;
}
.form-buttons{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}