.formOuterContainer{
  width: 100%;
  height: 100vh;
  display: flex;
}

.formContainer{
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
}
.formContainer form{
  display: flex;
  flex-direction: column;
}
.formContainer form input{
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #686868;
}
.formContainer .error-text{
  color: red;
  text-align: left;
}
.form-buttons{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}