/* .header {
    background-color: #282c34;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  .header-title {
    font-size: 1.8rem;
    margin: 0;
  }
  
  .header-nav {
    margin-top: 0.5rem;
  }
  
  .header-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
  }
  
  .header-menu a {
    color: white;
    text-decoration: none;
  }
  
  .header-menu a.active-link {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .header-menu a:hover {
    text-decoration: underline;
  }
   */