:root {
  /* FONT */
  --font-primary: 'Inter', sans-serif;

  /* PRIMARY BRAND */
  --primary-10: #e1e7f5;
  --primary-30: #A6C9FF;
  --primary: #003D99;
  --primary-deep: #3667B3;
  --primary-dim: #264A89;
  --primary-hover: #6BA6FF;  

  /* SURFACES */
  --bg: #f9f9f9;
  --surface: #FFFFFF;
  --surface-low: #F1F3FF;
  --surface-high: #E0E8FF;
  --surface-variant: #D8E2F9;

  --input-bg: #f3f3f3;  

  /* TEXT */
  --text: #1F2430;
  --text-muted: #5B6475;
  --text-soft: #8B93A7;
  --text-white: #FFFFFF;

  /* STATUS */
  --success: #198754;
  --warning: #F59E0B;
  --danger: #BA1A1A;
  --info: #0DCAF0;

  /* BORDER */
  --border: #E4E8F3;
  --border-dark: #CCD4E5;

  /* SHADOW */
  --shadow-sm: 0 2px 6px rgba(0,0,0,0.06);
  --shadow-md: 0 6px 16px rgba(0,0,0,0.10);
  --shadow-lg: 0 10px 24px rgba(0,0,0,0.14);

  /* RADIUS */
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-full: 999px;
}

[data-theme="dark"] {
  --primary-10: #6FB2FF;
  --primary-30: #A6C9FF;
  --primary: #003D99;
  --primary-deep: #3667B3;
  --primary-dim: #264A89;
  --primary-hover: #6BA6FF;

  --bg: #111318;
  --surface: #0F172A;
  --surface-low: #111827;
  --surface-high: #1E293B;
  --surface-variant: #334155;

  --input-bg: #1D202A;

  --text: #F8FAFC;
  --text-muted: #CBD5E1;
  --text-soft: #94A3B8;
  --text-white: #FFFFFF;

  --success: #198754;
  --warning: #F59E0B;
  --danger: #BA1A1A;
  --info: #0DCAF0;

  --border: #243041;
  --border-dark: #334155;

  --shadow-sm: 0 2px 6px rgba(0,0,0,0.35);
  --shadow-md: 0 6px 16px rgba(0,0,0,0.45);
  --shadow-lg: 0 10px 24px rgba(0,0,0,0.55);
}