.split-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.left-panel {
  padding: 1.3rem;
  height: 100vh;
  position: sticky;
  top: 0;
}

.right-panel {
  min-height: 100vh;
}

.mySwiper .swiper-slide img {
  border-radius: 10px;
  overflow: hidden;
}

/* .right-panel .swiper .swiper-initialized{
  width: 100%;
  object-fit: cover;
  display: block;
  border: 5px solid red;
  border-radius: 10px;
} */

@media (max-width: 768px) {
  .split-container {
    display: block;
  }
  .left-panel {
    position: relative;
    height: auto;
  }
}
